[data-text-lines] {
    --padding-l : 1rem;
    --padding-r : 1rem;
    padding-left: var(--padding-l);
    padding-right: var(--padding-r);
    display: flex;
    flex-wrap: wrap;
}

[data-text-lines] .lines-text__row {
    display: flex;
    padding-left: var(--padding-l);
    padding-right: var(--padding-r);
    margin-left: calc(var(--padding-l) * -1);
    margin-right: calc(var(--padding-r) * -1);
}